<div class="bios grid_9 alpha omega">

<div class="scott grid_9 alpha omega">
  <h3>
    Scott Moore-Fay
  </h3>

  <div class="scott-bio grid_6 alpha omega">
    <p>
      I have been a keen fossil collector since childhood and became an avid collector during the mid 1990s. From 2002 I worked as a volunteer in the Palaeontology Conservation Unit at the Natural History Museum, London, one day a week. In 2004 I jumped at the "once in a life time" opportunity to work as the museum's Senior Fossil Preparator. This was my chance to turn a passion into a full time job. Through my collecting activities I had amassed a large collection of dinosaurs and other fossils and had used these to teach myself fossil preparation.
    </p>
    <p>
      Over the following six years, that I was employed by the museum, I worked on numerous priceless and "one of a kind" specimens and co-authored numerous scientific papers. Fossil preparation requires an, intimate knowledge of anatomy, materials and tools and a great deal of patience! I was also responsible for managing the Palaeontology department's acid preparation facility. This facility used acids such as acetic acid to dissolve carbonate rich rocks without damaging or etching the fossils.
    </p>
    <p>
      I left the museum in 2010 immediately following the birth of my twin daughters. At the same time I was awarded a one and a half year contract by Dorset County Council to prepare and display one of the world's largest complete fossil skulls. The 2m+ skull and lower jaws of the pliosaur weighed over 450kg prior to preparation. The skull forms the centre piece for the new gallery display at Dorchester Museum, opened by Sir David Attenborough on 8th July 2011. The 150 million year old pliosaur skull, an extinct marine reptile, similar to a crocodile but with paddles rather than legs, is new to science and generated a huge amount of media interest during the preparation and at the gallery opening. The finished skull weighing 320kg was mounted on a purpose built transparent acrylic (plastic) stand that I designed myself.
    </p>
    <p>
      I created The DinoLab to let me share my passion and collection of dinosaurs with the next generation!
    </p>
  </div>
  <div class="scott-photo grid_3 alpha omega">
  <a class="photo b1"></a>
  </div>
  <div class="clear"></div>
</div>  <!-- End of Scott section -->

<div class="sue grid_9 alpha omega">
  <h3>
    Sue Moore-Fay
  </h3>
  <div class="sue-photo grid_3 alpha omega">
  <a class="photo b2"></a>
  </div>

  <div class="sue-bio grid_6 alpha omega">
    <p>
      Hello I'm Sue.  As Scott's wife I have been closely (sometimes too closely!) married to the world of dinosaurs for 10+ years. I graduated with 2:1 BSc Geography degree and subsequently have progressed my career as a product manager in The City. I have in parallel absorbed a good deal of knowledge on the topic of dinosaurs and it's great to have the chance to share it with children in such a interactive and fun way. Scott's enthusiam is infectious and the children's inciteful questions show that dinosaurs are a fascination for all ages, even for us older kids! Come and join us getting our hands dirty in The DinoLab, it's an experience we're sure you'll love!
   </p>
  </div>
<div class="clear"></div>
</div>  <!-- End of Sue section -->

<div class="sarah grid_9 alpha omega">
  <h3>
    Sarah Hart
  </h3>

  <div class="sarah-bio grid_6 alpha omega">
     <p>
      Hello, I'm Sarah. I graduated from Roehampton University in 2006 with a BA in Early Childhood studies 2:1. I have worked in nurseries and Primary Schools. I am currently a nanny for Scott and Sue's 2 year old twin daughters. I am now part of The DinoLab team and thoroughly enjoy the sessions. To see the excitement on the children's faces  is great and  to  know that they are learning at the same time is  very rewarding as early year development is something  I am  very passionate about. I hope that my friendly, bubbly and positive outlook on life comes across in The Dinolab activities. I hold a Paediatric First Aid certificate.
    </p>
  </div>
  <div class="sarah-photo grid_3 alpha omega">
  <a class="photo b3"></a>
  </div>
  <div class="clear"></div>
</div>  <!-- End of Sarah section -->

<div class="clear"> </div>
</div> <!-- Closing the biographies -->
