<div class="parties">
<p class="b">
  The DinoLab will be available for childrens' parties from August 2012.  We are currently preparing a fantastic range of real dinosaurs for you to build in your own home or party venue.
</p>
<p class="b">
  Yes! that's right, you and your party guests can build a complete Velociraptor, Ichthyosaur, Plesiosaur or even a T-Rex skeleton in your living room, kitchen, dining room, garden...... wherever you like!
</p>

<div class="trex">
  <a class="photo p6"></a>
  <div class="clear"> </div>
</div>

<p class="b"> Not a party to forget!  Ever!!</p>

<p class="u"> Pricing </p>
<p class="b">Starting from &#163; 350.</p>

<p class="b">
  To avoid disappointment we suggest that you make your booking as soon as you possibly can by securing it with a &#163; 75 deposit.  The balance is payable 2 weeks prior to your agreed party date.
</p>

<p class="b">
  <span><a href="contact.html#middle">Contact us</a></span> to discuss your party requirements.
</p>

</div> <!-- Closing the parties section -->
