          <div class="faqs">
            <h1>FAQs</h1>

            <h2>1. What area do you cover?</h2>
            <p>
              We can cover Kent, Surrey and East Sussex. Please note that the first 15 miles of the outward and return journey are free.  A charge of 40p/mile will be be made on all round trips greater than 30 miles.
            </p>

            <h2>2. How many children can attend?</h2>
            <p>
              Schools - we are able to cater for up to 35 children arranged into 4 groups.  One teacher and one class room assistant or parent are also needed
            </p>
            <p>
              Parties - we can accomodate up to 10 children. One adult is required to stay with the party at all times.
            </p>

            <h2>3. Securing a booking?</h2>
            <p>
              Bookings can be secured by contacting us by telphone or the website and paying the £75 deposit. The deposit is non refundable, but if you need to rearrange the reserved date we will endeavour to accomodate changes and offer alternative dates. The remainder of the balance needs to be paid no later than two weeks before your agreed party date.
            </p>

            <h2>4. Space required?</h2>
            <p>
              Schools - a hall or similar large room is ideal, especially if tables and chairs are available. Parties - the space required is partly dictated by the size of the dinosaur you request. However, most of the dinosaurs are around 3m long. Some of our larger skeletons are nearly 6m long. None of the specimens are more than 1m wide.
            </p>

            <h2>5.Equipment?</h2>
            <p>
              Schools - we provide all the equipment for The Dinolab activities including lab coats, clay and maps.  We do require at least 4 blocks of tables (min size 4-6 square metres).
            </p>
            <p>
              Parties - we provide all the equipment needed. We do require a large room (15 square metres) free of priceless antiques and ornaments.
            </p>

            <h2>6.How long do the activities last?</h2>
            <p>
              Schools - workshops normally last for 3 hours. We aim to arrive about 1 hr before the class register is taken.
            </p>
            <p>
              Parties - usually last for between 1-1.5 hours.
            </p>

            <h2>7.Insurance?</h2>
            <p>We are fully insured</p>

          <div class="clear"> </div>

          </div> <!-- Closing the FAQs-->
