          <form>

            <div class="selections grid_9 alpha omega">
  
              <div class="box1">

                <div class="event_selection">
                  <label>Select</label>
                  <select name="party_type">
                    <option value="school">School</option>
                    <option value="party">Party</option>
                  </select><br />
                </div>

                <div class="message">
                  <p>
                  <label>Message:</label> <textarea name="message">Please enter any comments here</textarea>
                  </p>
                </div>

                <div class="event_amount">
                  <p>
                    <ul>
                      <li class="total_amount">Total: £xxx</li>
                      <li class="deposit_amount">Deposit: £xxy</li>
                    </ul>
                  </p>
                </div>

              <div class="clear"> </div>
              </div> <!-- Closing box1 selections-->


              <div class="shopping">
                <h2>Add-ons:</h2>
                <div class="item_one grid_9 alpha omega">
                  <div class="shopping_item grid_4 alpha omega">
                    <span>1. Party bag</span>
                  </div>
                  <div class="qone grid_3 alpha omega">
                    <div class="number">0</div>
                    <div class="arrows">
                      <div class="up"><a href="">UP</a></div>
                      <div class="down"><a href="">DOWN</a></div>
                      <div class="clear"> </div>
                    </div>
                  </div>
                  <div class="amount grid_2 alpha omega">
                    <span>£0.00</span>
                  </div>

                  <div class="clear"> </div>
                </div> <!-- Closing add-on one -->

                <div class="item_two grid_9 alpha omega">
                  <div class="shopping_item grid_4 alpha omega">
                    <span>2. Deluxe party bag</span>
                  </div>
                  <div class="qtwo grid_3 alpha omega">
                    <div class="number">0</div>
                    <div class="arrows">
                      <div class="up"><a href="">UP</a></div>
                      <div class="down"><a href="">DOWN</a></div>
                      <div class="clear"> </div>
                    </div>
                  </div>
                  <div class="amount grid_2 alpha omega">
                    <span>£0.00</span>
                  </div>

                  <div class="clear"> </div>
                </div> <!-- Closing add-on two -->

              <div class="clear"> </div>
              </div> <!-- Closing shopping -->

              <div class="payment">
                <div class="ways_to_pay grid_5 alpha omega">View ways to pay</div>
                <div class="final_total_amount grid_4 alpha omega">
                  <div class="final_running_total">Running Total:</div>
                  <div class="vat_amount">VAT:</div>
                  <div class="final_deposit_total">Deposit due with booking:</div>
                  <div class="clear"> </div>
                </div>
                  <div class="clear"> </div>

                <input type="submit" value="Submit request" />
              </div> <!-- Closing payment -->
            </div>

          </form>  <!-- Closing the form -->
