<div class="links">
<h2>Below you will find a list of some of my favourite web sites. Why not take a look at them?</h2>

<h3>Favourite Links</h3>

<div class="link1 grid_9 alpha omega">
  <div class="num grid_1 alpha omega">1</div>
  <div class="link-text grid_8 alpha omega">
    <ul>
      <li><a href="http://plattprimaryschool.co.uk/the-dinolab/" target="_blank">The DinoLab visits Platt C of E Primary School</a></li>
      <li><em>Visit Platt Primary school website to see The DinoLab in action!</em></li>
    </ul>
  </div>
</div>

<div class="link2 grid_9 alpha omega">
  <div class="num grid_1 alpha omega">2</div>
  <div class="link-text grid_8 alpha omega">
    <ul>
      <li><a href="http://www.bidborough.kent.sch.uk/default.asp?p=56" target="_blank">The DinoLab visits Bidborough Primary school</a></li>
      <li><em>Visit Bidborough Primary school website to see The DinoLab in action!</em></li>
    </ul>
  </div>
</div>

<div class="link3 grid_9 alpha omega">
  <div class="num grid_1 alpha omega">3</div>
  <div class="link-text grid_8 alpha omega">
    <ul>
      <li><a href="http://www.bbc.co.uk/news/science-environment-12041857" target="_blank">BBC -Pliosaur preparation</a></li>
      <li><em>See Scott talking about the preparation of a huge fossil reptile skull</em></li>
    </ul>
  </div>
</div>

<div class="link4 grid_9 alpha omega">
  <div class="num grid_1 alpha omega">4</div>
  <div class="link-text grid_8 alpha omega">
    <ul>
      <li><a href="http://www.youtube.com/watch?v=wJxA0p4o_Do" target="_blank">The unveiling of the Dorset Pliosaur</a></li>
      <li><em>Watch Sir David Attenborough unveil the pliosaur skull</em></li>
    </ul>
  </div>
</div>

<div class="link5 grid_9 alpha omega">
  <div class="num grid_1 alpha omega">5</div>
  <div class="link-text grid_8 alpha omega">
    <ul>
      <li><a href="http://www.youtube.com/watch?v=9s71F7IMbCQ&amp;feature=related" target="_blank">Richard Edmonds, Earth Science Manager for the Jurassic Coast describes the Dorset Pliosaur Skull</a></li>
      <li><em>Richard Edmonds walks us around the Dorset pliosaur skull</em></li>
    </ul>
  </div>
</div>

<div class="clear"> </div>

</div> <!-- Closing the links -->
