<div class="mid-photos">
  <a class="photo p1"></a>
  <a class="photo p2"></a>
  <a class="photo p3"></a>
  <div class="clear"> </div>
</div> <!-- Closing the middle photos-->

<div class="inspire">
  <h2>Dinosaurs be inspired!</h2>
</div>

<div class="dldesc">
  <p>
    The DinoLab, based in Sevenoaks, was launched in 2012 with the aim of making fossils and dinosaurs really accessible. Having worked at the Natural History Museum London, Scott Moore-Fay realised that the long queues and lack of hands on displays meant that visitors weren't able to fully immerse themselves in the facinating world of dinosaurs. Over the 18 years that Scott has been collecting fossils, he has assassed a huge collection of real and replica fossils including a 3m ichthyosaur skeleton, a 4m plesiosaur skeleton and a 2.4m long Pliosaur skull (If you don't know what a pliosaur is have a look at our favourite links page!) and he would love to share them with you. We have developed a range of exciting, fun filled, hands on, activities that let children excavate, build and identify real fossils and dinosaurs!
  </p>
</div> <!-- Closing the description -->

<div class="end-photos">
  <a class="photo p4"></a>
  <a class="photo p5"></a>
  <div class="clear"> </div>
</div> <!-- Closing the 2nd set of photos-->

<div class="visit">
  The DinoLab can visit your school or party and provide a session of thrilling activities for Years 3-6 (KS2) (ages approx. 7-10).
</div>

<div class="clear"> </div>
