<div class="schools">
<h2>A Typical Day in the DinoLab</h2>

<p>
<time>09:00</time>
Welcome!  Scott will introduce himself to The DinoLab detectives.  The is The DinoLab detectives' opportunity to ask any questions about dinosaurs and fossils!
</p>

<p>
<time>09:20</time>
The DinoLab detectives are divided into groups and named after popular dinosaurs.
</p>

<p>
<time>09:30-11:45</time>
There are five main DinoLab activities:
</p>

<div class="activity">
<span class="activity"> Activity 1: Geological Maps</span>
<p>
  Fossils can be found all around you, even in Sevenoaks and the surrounding areas. How do we know where to look? Where is the best place to find fossils around Sevenoaks? Learn about the geology of Sevenoaks and the surrounding areas.
</p>
</div>

<div class="activity">
<small class="activity"> Activity 2: Fossil excavation</small>
<p>
 Digging fossils is messy and a time consuming business and not as easy as it looks! This is the Dino Detectives chance to get their hands dirty excavating bones.
</p>
</div>

<div class="activity">
<small class="activity"> Activity 3: Build a Skeleton</small>
<p>
  An outline of a 3m long ichthyosaur (marine reptile that looks similar to a dolphin) will be provided. The DinoLab detectives position the replica bones in the correct position on the outline using a baby ichthyosaur fossil to help identify where the bones go. The detectives will need to draw in any bones that they think are missing and draw the other fossil creatures in the sea around the ichthyosaur as they would have looked in life! A photograph will be taken of each team’s work at the end of each session. Each detective in the team with the most creative and accurate finished display will take home a prize. 
</p>
</div>

<div class="activity">
<small class="activity"> Activity 4: Fossil Identification</small>
<p>
  Up to twenty fossils will be laid out for identification. As a team, The DinoLab detectives need to write down, on the paper provided, what they think each fossil is. Multiple choices answers are provided to assist the detectives with their deductions! (The sheets will be marked by the detectives themselves at the end of the session, supervised by the helper for the group). Scott will be providing the answers to everyone at the end of the morning! Each detective in the winning team will take home a prize. 
</p>
</div>

<div class="activity">
<small class="activity"> Activity 5: Guesstimate</small>
<p>
  Can you guess the number of fossil teeth in the box? Scott will visit each DinoLab detective team as they are working and ask them to decide how many teeth they think there are in the box. Scott will note down their answer. Scott will read out the nearest correct at the end of the final session. Each member of the winning team will get to take a prize home with them.
</p>
</div>

<p>
<time>11:45-12:00</time>
Fossil identification results, prize giving and more dinosaur questions and answers.
</p>
<div class="clear"> </div>

</div> <!-- Closing the schools section -->