        <div id="middle_dinoline" class="grid_9">

          <div class="timeline grid_9 alpha omega">

              <div class="mesozoic">Mesozoic Era: 230 - 65 million years ago (mya)</div>
              <div class="all_eras">
                <div class="triassic_era">
                 <div class="plateo audio_trigger"><a href="dino_plateo.jpg" class="dinoline_lightbox_trigger">Plateosaurus</a>
                    <audio class="plateo_audio">
                      <source src="audio/plateosaurus.mp3" type="audio/mp3" />
                      <source src="audio/plateosaurus.ogg" type="audio/ogg" />
                    </audio>
                   </div>
                  <div class="triassic">Triassic: 227 - 205 mya</div>
                </div>

                <div class="jurassic_era">
                  <div class="stego audio_trigger"><a href="dino_stegosaurus.jpg" class="dinoline_lightbox_trigger">Stegosaurus</a>
                    <audio class="stego_audio">
                      <source class="mp3" src="audio/stegosaurus.mp3" type="audio/mp3" />
                      <source class="ogg" src="audio/stegosaurus.ogg" type="audio/ogg" />
                    </audio>
                  </div>
                  <div class="jurassic">Jurassic: 205 - 144 mya</div>
                </div>

                <div class="cretaceous_era">

                  <div class="tyranno audio_trigger"><a href="dino_tyrannosaurus.jpg" class="dinoline_lightbox_trigger">Tyrannosaurus</a>
                    <audio class="tyranno_audio">
                      <source src="audio/tyrannosaurus.mp3" type="audio/mp3" />
                      <source src="audio/tyrannosaurus.ogg" type="audio/ogg" />
                    </audio>
                  </div>

                  <div class="tricero audio_trigger"><a href="dino_triceratops.jpg" class="dinoline_lightbox_trigger">Triceratops</a>
                    <audio class="tricero_audio">
                      <source src="audio/triceratops.mp3" type="audio/mp3" />
                      <source src="audio/triceratops.ogg" type="audio/ogg" />
                    </audio>
                  </div>

                  <div class="cretaceous">Cretaceous: 144 - 65 mya</div>
                </div>

              </div> <!-- Closing all the eras-->

              <div class="clear"> </div>

          </div> <!-- Closing the timeline -->

        </div> <!-- Closing the middle of the page -->
