// Place all the styles related to the Faqs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*****************************/	
/* 15. FAQs                  */
/*****************************/	

.faqs {
	padding-left: 20px;
}

.faqs h1 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.faqs h2 {
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 5px;
}

.faqs p{
	margin-bottom: 10px;
}
