// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*****************************/	
/* 9. Schools                */
/*****************************/	
.schools {
	padding: 0px 0px 0px 20px;
}

.schools p {
	padding: 5px 0px;
}

.schools h2 {
	text-align: center;
	text-decoration: underline;
	font-size: 20px;
}

time {
	font-weight: bold;
	font-size: 15px;
}

.activity {
	font-size: 15px;
	font-style: italic;
}

p {
	font-size: 15px;
}
